body {
    margin: 0;
    background: firebrick 
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 0;  
}

h3{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 25px;
    font-weight: 100px;
    font-family: 'Gajraj One', cursive;
    text-decoration: underline;
}

h2{
    display: flex;
    justify-content: center;
    background: black;
    color: firebrick;
    font-size: 40px;
    font-family: 'Orbitron', sans-serif;
    
}

button{
    background: whitesmoke;
    color: black;
    font-size: 20px;
    font-family: 'Gajraj One', cursive;
    min-height: 30px;
    min-width: 40px;
    border: none;
    border-radius: 10px;
}